<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
<remove name="LocalSqlServer" />
<add name="LocalSqlServer"
    connectionString="Server=CASSINI,1433;Database=aspnetdb;Integrated Security=SSPI;"
    providerName="System.Data.SqlClient" />
</connectionStrings>
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <anonymousIdentification enabled="true"  />
    
      <profile enabled="true">
      <properties>
        <group name="Personales">
          <add name="Nombre"/>
          <add name="Apellidos"/>
        </group>
        <add name="Articulos" type="System.Collections.Specialized.StringCollection"

             allowAnonymous="true"/>
      </properties>
    </profile>
  </system.web>
</configuration>